<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>CodeShare {% block title %}{% endblock %}</title>
    <link rel='stylesheet' href='/frontend-media/style.css' type='text/css' />
    <link rel='stylesheet' href='/frontend-media/pygments.css' type='text/css' />
  </head>
  <body class="{% block bodyclass %}{% endblock %}">
    <div id="header"></div>
      <h1 id="branding">CodeShare</h1>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>

    <div id="sidebar">
      <h2>Navigation</h2>
      <ul id="main-nav">
	<li id="main-nav-snippets"><a href="{% url cab_snippet_list %}">Snippets</a></li>
	<li id="main-nav-languages"><a href="{% url cab_language_list %}">Languages</a></li>
	<li id="main-nav-authors"><a href="">Authors</a></li>	
      </ul>
    </div>

  </body>
</html>
